<div class="row" *ngIf="false">
    <div class="col s3">&nbsp;</div>
    <div class="col s6 valign-wrapper" style="height: 200px;background-color: #ccc;" 
      fileDrop
      [ngClass]="{'file-is-over': fileIsOver, 'file-uploading': uploading}"
      (fileOver)="fileOver($event)"
      (onFileDrop)="onFileDrop($event)">
        <div class="valign">
          <h5 class="center-align">Drop a csv file here to import.</h5>
          <p>Find sample file under public folder.</p>
          <p *ngIf="uploading">Uploading...</p>
        </div>
    </div>
    <div class="col s3">&nbsp;</div>
</div>

<div class="file-field input-field" style="margin-top: 0;">
  <div class="btn blue darken-2" style="height: 39px; color: #fff;">
    <span>Upload CSV</span>
    <input type="file" (change)="onFileSelect($event)">
  </div>
  <!--<div class="file-path-wrapper">
    <input class="file-path validate" type="text">
  </div>-->
</div>