<ul id="nav-mobile" class="side-nav left-bar fixed">
    <li class="admin-pro">
    <img src="images/no-image-male.jpg" alt="" style="width:100px;" />
    <h2>{{user.profile.firstName}} {{user.profile.lastName}}</h2>
    </li>
    
    <ul class="collapsible collapsible-accordion">
        <li class="bold"><a href="javascript:void(0);" [routerLink]="['/dashboard']" class="collapsible-header waves-effect waves-tea"><i class="zmdi zmdi-view-dashboard"></i> Dashboard</a></li>    
        <li class="bold"><a href="javascript:void(0);" class="collapsible-header  waves-effect"><i class="zmdi zmdi-plus-square"></i> Patient<span><i class="zmdi zmdi-chevron-right"></i></span></a>
        <section class="collapsible-body">
            <ul>
            <li><a href="javascript:void(0);" [routerLink]="['patients/list']">Patient List</a></li>
            <li><a href="javascript:void(0);" [routerLink]="['patients/list']">Invite Patient</a></li>
            </ul>
        </section>
        </li>
        <li class="bold"><a href="javascript:void(0);" class="collapsible-header waves-effect"><i class="zmdi zmdi-book-image"></i> Knowledge Base</a></li>
        <li class="bold"><a href="javascript:void(0);" class="collapsible-header waves-effect"><i class="zmdi zmdi-rss"></i> NewsFeeds</a></li>
        <li class="bold"><a href="javascript:void(0);" class="collapsible-header waves-effect"><i class="zmdi zmdi-chart"></i> Questionnaires</a></li>
        <li class="bold"><a href="javascript:void(0);" class="collapsible-header waves-effect"><i class="zmdi zmdi-laptop"></i> PMP Platform</a></li>
        <li class="bold"><a href="javascript:void(0);" class="collapsible-header waves-effect"><i class="zmdi zmdi-account"></i> My Account</a></li>
    </ul>
    
    <li class="bold"><a href="javascript:void(0);" class="waves-effect" [hidden]="!user" (click)="logout()">
        <i class="zmdi zmdi-lock"></i> Logout</a>
    </li>
</ul>