
<div class="row" *ngIf="agreement">
    <div class="col s12">
        <div class="col s12 center">
            <h4>Opiate Agreements</h4>
        </div>
        <div class="col l8 m8 s8">
            <div class="input-field col s12">
                <select class="browser-default" id="agreementList" [(ngModel)]="agreementSelected">
                    <option selected>Select Agreements</option>
                    <option *ngFor="let items of agreement" value="{{items._id}}">{{items.agreementName}}</option>
                </select>
            </div>
        </div>
        <div class="col l4 m4 s4">
            <a (click)="sendAgreement();" class="waves-effect waves-light btn">Send</a>
        </div>
    </div>
    <hr>
    <div class="col s10">
        <table class="bordered">
            <thead>
              <tr>
                    <th data-field="id">Name</th>
                    <th data-field="name">Date</th>
                    <th data-field="price">Result</th>
                    <th data-field="price">Status</th>
              </tr>
            </thead>
    
            <tbody *ngFor="let items of patientAgree">
                <tr>
                  <!--<td [innerHtml]="getAgreementName(items.agreementId)"></td>-->
                  <td>{{items.agreement.title}}</td>
                  <td>{{items.assignDate | date}}</td>
                  <td>{{items.action}}</td>
                  <td>{{items.status}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="!patientAgree || !patientAgree.length">
                <tr>
                  <td>No record found.</td>
                </tr>
            </tbody>
            
            
        </table>
    </div>
    <div class="row">
        <div [hidden]="user">
            Please login in order to update patient.
        </div>
    </div>
</div>