    <!--main container-->
    <section *ngIf="patient">
        <!--Patient Detail Page-->
        <h2>Patient Details</h2>
        <section class="col s12 pt-detail bt-shadow">
            <section class="detail-pic-pateint col s3">
                <img *ngIf="patient.gender == 'Female'" class="responsive-img" src="images/no-image-female.jpg" alt=""/>
                <img *ngIf="patient.gender == 'Male'" class="responsive-img" src="images/no-image-male.jpg" alt=""/>
            </section>
            <section class="col s9 content-ptdetail ">
                <h2>{{patient.firstName}} {{patient.lastName}}</h2>
                <ul>
                    <li><i class="zmdi zmdi-link"></i><a href="javascript:void(0);">{{patient.email}}</a></li>
                    <li class="robotofont"><i class="zmdi zmdi-phone"></i>{{patient.phoneNum}}</li>
                </ul>
                <a class="btn-floating  waves-effect waves-light blue detailedit" [routerLink]="['/patients/edit', patient._id]"><i class="material-icons">mode_edit</i></a>
            </section>

            <section class="patient-gendetail col s12">
                <!--patient general detail-->
                <ul>
                    <li>
                        <label>D.O.B</label>
                        <span>{{patient.dob | date}}</span>
                    </li>
                    <li>
                        <label>Gender</label>
                        <span>{{patient.gender}}</span>
                    </li>
                    <li>
                        <label>SSN</label>
                        <span class="robotofont">{{patient.ssn}}</span>
                    </li>

                    <li>
                        <label>Address</label>
                        <span class="robotofont">{{patient.address}}</span>
                    </li>
                    <li>
                        <label>State</label>
                        <span>{{patient.state}}</span>
                    </li>
                    <li>
                        <label>Zip</label>
                        <span class="robotofont">{{patient.zip}}</span>
                    </li>
                    <li *ngIf="patient.accessCode && !patient.userId">
                        <label>Access Code</label>
                        <span class="robotofont">{{patient.accessCode}}</span>
                    </li>
                    <!--<li *ngIf="patient.accessCode && !patient.userId">
                        <label>Access Url</label>
                        <span class="robotofont">http://52.39.212.226:4038/signup/{{patient.accessCode}}</span>
                    </li>-->
                </ul>
                <p *ngIf="!patient.bio" class="col s12">Please edit profile to write your biography.</p>
                <p *ngIf="patient.bio" class="col s12">{{patient.bio}}</p>
            </section>
            <section class="request-btn">
                <!--request button-->
                <section class="col s4">
                    <li>
                        <a [routerLink]="['/patients/agreements', patient._id]">
                            <span>Send Opiate Agreement</span>
                            <i class="zmdi zmdi-chevron-right"></i>
                        </a>
                    </li>
                </section>
                <section class="col s4">
                    <li>
                        <a [routerLink]="['/patients/questionnaire', patient._id]">
                            <span>Assign Questionnaire</span>
                            <i class="zmdi zmdi-chevron-right"></i>
                        </a>
                    </li>
                </section>
                <section class="col s4">
                    <li>
                        <a href="javascript:void(0);">
                            <span>Assign Knowledge Base</span>
                            <i class="zmdi zmdi-chevron-right"></i>
                        </a>
                    </li>
                </section>
                <section class="col s4">
                    <li>
                        <a href="javascript:void(0);">
                            <span>Request for Lab order</span>
                            <i class="zmdi zmdi-chevron-right"></i>
                        </a>
                    </li>
                </section>
                <section class="col s4">
                    <li>
                        <a href="javascript:void(0);">
                            <span>Lab Test Results</span>
                            <i class="zmdi zmdi-chevron-right"></i>
                        </a>
                    </li>
                </section>
                <section class="col s4">
                    <li>
                        <a href="javascript:void(0);">
                            <span>Send a Message</span>
                            <i class="zmdi zmdi-chevron-right"></i>
                        </a>
                    </li>
                </section>
            </section>
        </section>
        <!--request button-->

    </section>