    <!--main container-->
    <section *ngIf="patient">
        <!--Patient Detail Page-->
        <h2>Patient Details</h2>
        <section class="col s12 pt-detail bt-shadow">
            <section class="detail-pic-pateint col s3">
                <img src="images/deatil-pateint.png" class="responsive-img" alt="">
            </section>
            <section class="col s9 content-ptdetail ">
                <h2>{{patient.firstName}} {{patient.lastName}}</h2>
                <ul>
                    <li><i class="zmdi zmdi-link"></i><a href="javascript:void(0);">{{patient.email}}</a></li>
                    <li class="robotofont"><i class="zmdi zmdi-phone"></i>{{patient.phoneNum}}</li>
                </ul>
                <a class="btn-floating  waves-effect waves-light blue detailedit" [routerLink]="['/patients/edit', patient._id]"><i class="material-icons">mode_edit</i></a>
            </section>

            <section class="patient-gendetail col s12">
                <!--patient general detail-->
                <ul>
                    <li>
                        <label>D.O.B</label>
                        <span>{{patient.dob | date}}</span>
                    </li>
                    <li>
                        <label>Gender</label>
                        <span>{{patient.gender}}</span>
                    </li>
                    <li>
                        <label>Weight</label>
                        <span class="robotofont">65 Kg</span>
                    </li>

                    <li>
                        <label>Address</label>
                        <span class="robotofont">{{patient.address}}</span>
                    </li>
                    <li>
                        <label>State</label>
                        <span>Menchester</span>
                    </li>
                    <li>
                        <label>Zip</label>
                        <span class="robotofont">540021</span>
                    </li>
                </ul>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages.</p>
            </section>
            <section class="request-btn">
                <!--request button-->
                <section class="col s4">
                    <li>
                        <a href="javascript:void(0);">
                            <span>Request for Lab order</span>
                            <i class="zmdi zmdi-chevron-right"></i>
                        </a>
                    </li>
                </section>
                <section class="col s4">
                    <li>
                        <a [routerLink]="['/patients/agreements', patient._id]">
                            <span>Send Opiate Agreement</span>
                            <i class="zmdi zmdi-chevron-right"></i>
                        </a>
                    </li>
                </section>
                <section class="col s4">
                    <li>
                        <a href="javascript:void(0);">
                            <span>Lab Test Results</span>
                            <i class="zmdi zmdi-chevron-right"></i>
                        </a>
                    </li>
                </section>
                <section class="col s4">
                    <li>
                        <a [routerLink]="['/patients/questionnaire', patient._id]">
                            <span>Assign Assessment</span>
                            <i class="zmdi zmdi-chevron-right"></i>
                        </a>
                    </li>
                </section>
                <section class="col s4">
                    <li>
                        <a href="javascript:void(0);">
                            <span>Send a Message</span>
                            <i class="zmdi zmdi-chevron-right"></i>
                        </a>
                    </li>
                </section>
                <section class="col s4">
                    <li>
                        <a href="javascript:void(0);">
                            <span>Assign Knowledge Base</span>
                            <i class="zmdi zmdi-chevron-right"></i>
                        </a>
                    </li>
                </section>
            </section>
        </section>
        <!--request button-->

    </section>