<section *ngIf="patient">
    
    <h2>Edit Patient</h2>

    <section class="col s12 pt-detail bt-shadow">
        <form class="col s12" [hidden]="!user" [formGroup]="patientForm" (ngSubmit)="updatePatient();">
            <div class="input-field col s12">
            <input formControlName="firstName" id="firstName" [ngClass]="{'invalid':!patientForm.controls['firstName'].valid}" />
            <label for="firstName" class="active">First Name</label>
            </div>

            <div class="input-field col s12">
            <input formControlName="lastName" id="lastName" [ngClass]="{'invalid':!patientForm.controls['lastName'].valid}" />
            <label for="lastName" class="active">Last Name</label>
            </div>

            <div class="input-field col s12">
            <input formControlName="gender" id="gender" [ngClass]="{'invalid':!patientForm.controls['gender'].valid}" />
            <label for="gender" class="active">Gender</label>
            </div>

            <div class="input-field col s12">
            <textarea formControlName="bio" id="bio" [ngClass]="{'invalid':!patientForm.controls['bio'].valid}" class="materialize-textarea"></textarea>
            <label for="bio" class="active">Bio</label>
            </div>

            <div class="input-field col s12">
            <input formControlName="address" id="address" [ngClass]="{'invalid':!patientForm.controls['address'].valid}" />
            <label for="address" class="active">Street Address</label>
            </div>

            <div class="input-field col s12">
            <input formControlName="city" id="city" [ngClass]="{'invalid':!patientForm.controls['city'].valid}" />
            <label for="city" class="active">City</label>
            </div>

            <div class="input-field col s12">
            <input formControlName="state" id="state" [ngClass]="{'invalid':!patientForm.controls['state'].valid}" />
            <label for="state" class="active">State</label>
            </div>

            <div class="input-field col s12">
            <input formControlName="zip" id="zip" [ngClass]="{'invalid':!patientForm.controls['zip'].valid}" />
            <label for="zip" class="active">Zip</label>
            </div>

            <div class="input-field col s12">
            <input formControlName="company" id="company" [ngClass]="{'invalid':!patientForm.controls['company'].valid}" />
            <label for="company" class="active">Company</label>
            </div>

            <div class="input-field col s12">
            <input formControlName="phoneNum" id="phoneNum" [ngClass]="{'invalid':!patientForm.controls['phoneNum'].valid}" />
            <label for="phoneNum" class="active">Phone Num</label>
            </div>

            <div class="row">
                <div class="col s12">
                <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="!patientForm.valid">Update
                    <i class="material-icons right">send</i>
                </button>
                <span *ngIf="updating">&nbsp;Updating...</span>
                <span *ngIf="updated">&nbsp;Updated</span>
                </div>
            </div>
        </form>
        <div [hidden]="user">
            Please login in order to update patient.
        </div>
    </section>
</div>