<!--<div class="row">
    <div class="col s12 m12">
        <div class="card indigo darken-1">
            <div class="card-content white-text">
                <span class="card-title"><h3>Filter Patients</h3></span>
                <form>
                    Search: <input type="text" #searchtext placeholder="Type anything"></input>
                    <br />
                    Sort by name:
                    <select id="sortOrder" class="form-control browser-default" #sort (change)="changeSortOrder(sort.value)">
                    <option value="1" selected>Ascending</option>
                    <option value="-1">Descending</option>
                    </select>
                    <button class="btn" (click)="search(searchtext.value)">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>-->

<section class="serach-bg">
    <section class="search col s10">
        <input id="search" type="text" #searchtext class="col s12" placeholder="Search here..." (keyup.enter)="search(searchtext.value)" [(ngModel)]="searchString" />
        <label class="tooltipped" for="search" (click)="search(searchtext.value)" data-position="top" data-delay="0" data-tooltip="Click to Search"><i class="material-icons">search</i></label>
    </section>
    <section class="download-btn">
        <!--<a class="waves-effect waves-light btn"><i class="zmdi zmdi-download"></i>CSV Import</a>-->
        <csv-upload></csv-upload>
    </section>
</section>

<pagination-controls *ngIf="patientsSize>0" class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls>

<!--<div class="cs-loader" style="display: none">
  <div class="cs-loader-inner">
    <label>	●</label>
    <label>	●</label>
    <label>	●</label>
    <label>	●</label>
    <label>	●</label>
    <label>	●</label>
  </div>
</div>-->

<div *ngIf="patients && patients.length==0">
    No records found.
</div>

<div class="loading">
    Loading...
</div>

<section class="col s12 wht-bg mar-tp5 mar-bt5 bt-shadow" 
*ngFor="let user of patients" 
[attr.data-patient-id]="user._id"
[ngClass]="{'red accent-1': user.status.isDeleted}"
[hidden]="user.status.isDeleted">
    <section class="pateint-list">
        <section class="col s2 pateint-pic"> 
            <img *ngIf="user.gender == 'Female'" class="responsive-img" src="images/no-image-female.jpg" alt=""/>
            <img *ngIf="user.gender == 'Male'" class="responsive-img" src="images/no-image-male.jpg" alt=""/> 
        </section>
        <section class="col s6 mar-tp10">
            <h2 class="pateint-name"><a [routerLink]="['/patients/details', user._id]">{{user.firstName}} {{user.lastName}}</a></h2>
            <ul class="pateint-deatil">
                <li class="feamle-lt"><i><img src="images/feamle-ic.png" alt="" class="tooltipped" data-position="top" data-delay="0" data-tooltip="Gender" /></i> {{user.gender}}</li>
                <li><i class="zmdi zmdi-walk tooltipped" data-position="top" data-delay="0" data-tooltip="Age"></i> {{user.dob | age}}</li>
            </ul>
            <address class="col s12">
                <i class="zmdi zmdi-pin tooltipped" data-position="top" data-delay="0" data-tooltip="Address"></i> {{user.address}}
            </address>
        </section>
        <section class="col s4 detail-btn">
            <ul>
                <li *ngIf="!user.userId"><a class="btn-floating waves-effect waves-light green tooltipped" href="javascript:void(0);" (click)="sendInvite(user)" data-position="top" data-delay="0" data-tooltip="Send Invite"><i class="material-icons">email</i></a></li>
                <li><a class="btn-floating waves-effect waves-light blue tooltipped" href="javascript:void(0);" [routerLink]="['/patients/edit', user._id]" data-position="top" data-delay="0" data-tooltip="Edit Patient"><i class="material-icons">mode_edit</i></a></li>
                <li *ngIf="!user.status.isDeleted"><a class="btn-floating waves-effect waves-light red tooltipped" href="javascript:void(0);" (click)="deletePatient(user)" data-position="top" data-delay="0" data-tooltip="Delete Patient"><i class="material-icons">delete</i></a></li>
            </ul>
        </section>
    </section>
</section>

<pagination-controls *ngIf="patientsSize>0" class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls>
