<div class="patients-list-container">
  <div class="patients-list">

    <div class="row">
        <div class="col s12 m12">
            <div class="card indigo darken-1">
                <div class="card-content white-text">
                    <span class="card-title"><h3>Filter Patients</h3></span>
                    <form>
                        Search: <input type="text" #searchtext placeholder="Type anything"></input>
                        <br />
                        Sort by name:
                        <select id="sortOrder" class="form-control" #sort (change)="changeSortOrder(sort.value)">
                        <option value="1" selected>Ascending</option>
                        <option value="-1">Descending</option>
                        </select>
                        <button class="btn" (click)="search(searchtext.value)">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <pagination-controls class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls>

    <div class="row" *ngFor="let user of patients">
        <div class="col s12 m12">
            <div class="card indigo lighten-1">
                <div class="card-content white-text">
                    <a [routerLink]="['/patients/details', user.patient._id]"><span class="card-title">{{user.patient.firstName}} {{user.patient.lastName}}</span></a>
                        <ul>
                            <li><label>#ID</label>: {{user._id}}</li>
                            <li><label>Email</label>: {{user.patient.email}}</li>
                            <li><label>Dob</label>: {{user.patient.dob}}</li>
                            <li><label>Phone</label>: {{user.patient.phoneNum}}</li>
                            <li><label>Company</label>: {{user.patient.company}}</li>
                            <li><label>Address</label>: {{user.patient.address}}</li>
                        </ul>
                </div>
                <div class="card-action">
                    <a [routerLink]="['/patients/edit', user.patient._id]">Edit</a>
                    <a href="javascript:;" (click)="sendInvite(user)" style="cursor:pointer;">Invite</a>
                    <a [routerLink]="['/patients/delete', user.patient._id]">Remove</a>
                </div>
            </div>
        </div>
    </div>

    <pagination-controls class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls>
  </div>
</div>