
<div class="row" *ngIf="questionnaireList">
    <div class="col s12">
        <div class="col s12 center">
            <h4>Questionnaires</h4>
        </div>
        <div class="col l8 m8 s8">
            <div class="input-field col s12" style="margin-top:0;">
                <select class="browser-default" id="questionnaireList" [(ngModel)]="questionnaireSelected">
                    <option value="">Select Questionnaire</option>
                    <option *ngFor="let items of questionnaireList" value="{{items._id}}">{{items.title}}</option>                    
                </select>
            </div>
        </div>
        <div class="col l4 m4 s4">
            <a (click)="assignQuestionnaire();" class="waves-effect waves-light btn blue">Send</a>
        </div>
    </div>
    <div class="col s12"><hr></div>
    <div class="col s10">
        <table class="bordered">
            <thead>
                <tr>
                    <th data-field="id">Name</th>
                    <th data-field="name">Date</th>
                    <th data-field="price">Result</th>
                    <th data-field="price">Status</th>
                    <th data-field="price">View</th>
                </tr>
            </thead>
    
            <tbody *ngFor="let items of assignQuestionnaires | async">
                <tr>
                  <td>{{items.questionnaire.title}}</td>
                  <td>{{items.assignDate | date}}</td>
                  <td>-</td>
                  <td>{{items.action}}</td>
                  <td>-</td>
                </tr>
            </tbody>
            <tbody *ngIf="!assignQuestionnaires || !assignQuestionnaires.source._data.length">
                <tr>
                  <td colspan="5">No records found.</td>
                </tr>
            </tbody>
            
            
        </table>
    </div>
    <div class="row">
        <div [hidden]="user">
            Please login in order to update patient.
        </div>
    </div>
</div>